@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Parmenion</h1>
     <div>
         <form action="/">
             <input type="text" />
             <input type="text" />
             <input type="submit" value="Divide"/>
             <input type="text" />
         </form>
     </div>
</div>